body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:381px;
  width:116px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:439px;
  width:116px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:380px;
  width:286px;
  height:33px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:438px;
  width:286px;
  height:33px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:481px;
  width:78px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:481px;
  width:78px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:567px;
  width:348px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:623px;
  width:78px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:27px;
  top:505px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:268px;
  background-image:none;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:268px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:268px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:211px;
  width:186px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:211px;
  width:186px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
